{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Sanika's Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/SSjn.png') }}" alt="Scrum Logo" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My <mark>Student Developer</mark>Profile</h5>
                    <p class="card-text">
                        <ol>
                            <p>Agile Methodology allows for productive and collaborative programming, and ensures every team members best efforts are contributed to the final project.</p>
                            <h6>Responsibilities as Backend Developer</h6>
                            <li>Use of Python 3.9 is used for most of our backend PBL</li>
                            <li>Build/Maintain mechanisms that process data and perform actions like: data storage, security, etc.</li>
                            <li>Develop understanding of front end web tech like HTML, JavaScript, etc.</li>
                        </ol>
                    </p>
                    <a href="https://sanikasha.github.io/superFastPages/week%203/2022/09/20/Agile-Methodology.html" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Current <mark>Objectives</mark> in APCSP</h5>
                    <p class="card-text">
                        <ol>
                            <li>AP Test prep (MC 1.1-1.3)</li>
                            <li>Learn how to deploy on AWS</li>
                            <li>Build plan for final project, Program Design</li>
                            <li>Keep in mind 6 CB Criteria: Program Purpose/Function, Data Abstraction, Managing Complexity, Procedural Abstraction, Algorithm Implementation, Testing</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How do you manage <mark>Persistent data</mark> with Python?</h5>
                    <p class="card-text">
                        <ol>
                            <li>A Database is an example of persistent data that is held on a computer.  Programming languages and frameworks allow you to store and retrive data.</li>
                            <li>SQL stands for Structured Query Language · SQL lets you access and manipulate databases and has become a long lasting development standard.</li>
                            <li>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper (ORM) that gives application developers the full power and flexibility of SQL.</li>
                            <li>There are many newer and sometimes easier Database languages and frameworks.  Mongo, DynamoDB, Neo4J are Databases being used by students developers in last 3 years.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.fog.min.js') }}"></script>
    <script>
        VANTA.FOG({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
{% endblock %}